{% extends 'base.html.twig' %}

{% block title %}Un animal - Animonde{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="text-center">
            <h1 class="text-center">Voici {{ animal.name }}</h1>
{#            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1920px-International_Pok%C3%A9mon_logo.svg.png' style="height: 150px;" class=' img-fluid ' >#}
        </div>
        {% if session.contact_ok %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ session.contact_ok }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="assets/images/{{ animal.image }}" class="card-img-top img-fluid" style="height: 420px; width: 310px;" alt="...">
                    <div>
                        <div class="col-6 mt-5">
                            <h5 class="text-center"><strong>{{ animal.name|upper }}</strong></h5>
                            <h5 class="text-center">Disponible depuis le {{ animal.createdAt|date('d-m-Y') }}.</h5>
                            <h5 class="text-center">Race:
                                {% for race in races %}
                                    {% if race.id == animal.id %}
                                        {{ race.name }}
                                    {% endif %}
                                {% endfor %}
                            </h5>
                            <h5 class="text-center">Taille: {{ animal.size }} cm</h5>
                            <h5 class="text-center">Poids: {{ animal.weight }} kg</h5>
                        </div>
                    </div>
                </div>
                <div class="text-center justify-content-center col-6 mt-5">
                    <div class="text-center mb-5">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <h1 class="fw-bolder">Contactez-nous</h1>
                        <p class="lead fw-normal text-muted mb-0">Une Question?</p>
                    </div>
                    <form id="contactForm" action="/voir-un-animal?id={{ animal.id }}" method="POST">
                        <!-- Objet du contact -->
                        <div class="form-floating mb-3">
                            <select class="form-control" name="subject" required>
                                    <option value="info">Demande d'information </option>
                                    <option value="reserve">Réserver l'animal </option>
                            </select>
                        </div>
                        <!-- Message du contact-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." name="message" style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                        </div>
                        {% if not session.user %}
                            <div class="form-floating mb-3">
                                <!-- Submit Button-->
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Valider</button>
                                </div>
                            </div>
                        {% else %}
                            {% include 'partials/button.html.twig' %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}